/* GENERAL SETTINGS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;;
}

button {
    padding: 15px;
    color: white;
    background-color: #0084fd;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: white;
}

/* HEADER SECTION  */

header {
    background-color: #0084fd;
    width: 100%;
    min-height: 100px;
    line-height: 100px;
    position: fixed;
    z-index: 999;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
}

header img,
header .fa-bars {
    vertical-align: middle;
}

.hc-sub i {
    color: white;
    cursor: pointer;
}

.headercontainer div img {
    cursor: pointer;
}

.hc-sub ul {
    display: none;
}

.hc-sub ul li {
    margin: 15px;
    color: white;
}

.getstartedbutton {
    background-color: white;
    color:#0084fd;
}



/* MAIN SECTION */

main {
    padding-top: 10vh;
}


.purple {
    background-color: #9792e4;
    padding: 5vh 1vh;
}

.white {
    padding: 10vh 0vh;
}

    /* GET A DEMO SECTION */

    .demosectioncontainer {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
        width: 100%;
    }

    .ds-sub-centered {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 40px 40px 0px 40px;
        background-color: #b5ddff;
        border-radius: 25px;
        line-height: 25px;
        margin: 10px;
    }

    .ds-sub {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 40px 0px 40px;
        background-color: #b5ddff;
        border-radius: 25px;
        line-height: 25px;
        margin: 10px;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .demosectioncontainer div h3, p {
        margin-bottom: 20px;
    }

    .fa-5x {
        margin-bottom: 20px;
    }

    .ds-sub-centered {
        align-items: center;
    }

    .ds-sub-centered p {
        text-align: center;
    }

    .ds-sub-centered i {
        color: #0084fd;
    }

    .ds-sub h3, 
    .ds-sub-centered h3 {
        color: #0084fd;
    }

    .storebutton {
        width: 90%;
        font-size: large;
        margin-bottom: 25px;
    }

    .fa-google-play {
        margin-right: 15px;
    }

    .ds-sub {
        position: relative;
    }

    /* STRATEGIC PLANNING SECTION */

    .strategicplanningcontainer {
        color: white;
        padding: 0 40px;
        width: 100%;
    }

    .sps-sub h2 {
        margin-bottom: 30px;
    }

    .sps-sub {
        display: flex;
        flex-wrap: wrap;
        border-radius: 25px;
        line-height: 25px;
    }

    #sps-sub-inside {
        background-color: white;
        color: black;
        padding: 0 40px;
        border-radius: 50px;
    }

    #sps-sub-inside h3 {
        margin-bottom: 30px;
    }

    #sps-sub-inside p {
        font-style: italic;
    }

    .fa-arrow-down {
        color: black;
        padding: 10px;
    }

    .arrowbutton {
        border-radius: 100%;
        padding: 10px 10px;
        background-color: #9792e4;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    /* TESTIMONIALS SECTION */

    .testimonialscontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
        width: 100%;
    }

    .ts-sub {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px;
        background-color: #9792e4;
        color: white;
        border-radius: 45px;
        line-height: 35px;
        margin: 10px;
        text-align: center;
    }

    .ts-sub p {
        margin-bottom: 15px;
        font-size: larger;
    }

    #ts-sub-main {
        background-color: white;
        text-align: center;
        display: block;
    }

    #ts-sub-main h2 {
        color: #9792e4;
        line-height: 40px;
        margin-bottom: 25px;
    }

    #ts-sub-main p {
        color: black;
        font-size: larger;
    }

    .ts-sub-img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 10px;
    }

    .quotes::before {
        content: open-quote;
        font-size: 55px;
        vertical-align: middle;
    }

    .quotes::after {
        content: close-quote;
        font-size: 55px;
        vertical-align: middle;
    }

    /* BENEFITS SECTION */

    .benefitscontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0 40px;
    }

    .bs-sub {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 25px;
        background-color: white;
        color: #9792e4;
        border-radius: 25px;
        line-height: 25px;
        margin: 10px;
        min-height: 150px;
        max-width: 350px;
    }

    #bs-sub-main {
        color: white;
        background-color: #9792e4;
        line-height: 50px;
        text-align: center;
        margin-bottom: 25px;
    }

    .bs-sub h1 {
        margin-bottom: 35px;
    }

    .bs-sub p {
        color: #808080;
    }

    .morebutton {
        text-align: center;
        background-color: #9792e4;
        color: white;
        width: 50%;
        font-size: larger;
    }

    /* ABOUT US SECTION */

    .aboutusscontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0 40px;
    }

    .as-sub {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        background-color: white;
        border-radius: 25px;
        line-height: 25px;
    }

    .as-sub h2 {
        color: #9792e4;
    }

    .as-sub-img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 25px;
    }

    .as-sub p {
        margin-bottom: 25px;
        line-height: 35px;
        font-size: 25px;
    }

    .as-sub h2 {
        margin-bottom: 25px;
        line-height: 55px;
    }

    .linkedinbutton {
        background-color: #9792e4;
        color: white;
        padding: 15px;
        font-size: 20px;
    }

    .linkedinbutton i {
        padding-right: 10px;
    }

    .as-sub-img:before {
        content: open-quote;
        color: #9792e4;
        font-size: 55px;
    }

    /* GET STARTED SECTION */

    .getstartedcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0 40px;
        color: white;
    }

    .gs-sub {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 45px;
        text-align: center;
    }

    .gs-sub p, h3, h1, button {
        margin-bottom: 25px;
    }

    .gs-sub h1 {
        color: #fdc15f;
    }

    .biggetstartedbutton {
        padding: 20px;
        border-radius: 45px;
        width: 100%;
        font-size: 30px;
        color: #9792e4;
        background-color: white;
    }


/* FOOTER SECTION */

footer {
    background-color: #333333;
    padding: 10vh 0vh;
}

.footercontainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 40px;
    color: white;
    font-size: larger;
}

.footercontainer p:first-of-type {
    margin-bottom: 45px;
}

.purplelink {
    color: #9792e4;
}

/* RESPONSIVE SECTION */

@media screen and (min-width: 768px) {

    .demosectioncontainer .ds-sub, 
    .demosectioncontainer .ds-sub-centered {
      width: calc(100% / 3 - 20px);
    }  

    .demosectioncontainer .ds-sub {
        width: calc(100% / 3 * 2 - 20px);
    }

    .ds-sub-img {
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 50%;
    } 

    .ds-sub-calc {
        width: calc(100% / 2);
        margin: 0;
    }

    .sps-sub img {
        width: 80%;
    }

    .sps-sub {
        justify-content: center;
    }

    .ts-sub {
        flex-wrap: nowrap;
        align-items: center;
    }

    .ts-sub h3 {
        margin-bottom: 0;
    }

    .bs-sub {
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }

    .aboutuscontainer {
        display: flex;
    }

    .as-sub {
        width: calc(100% / 2);
        margin: 0;
    } 

}

@media screen and (min-width: 1200px) {

    .hc-sub .fa-bars{
      display: none;
    }
  
    .hc-sub ul {
      display: flex;
    }
  
    .hc-sub li {
      display: inline-block;
    }

    .white,
    .purple,
    footer {
        width: 100%;
        padding: 10vh 20vw;
    }

    
    .ds-sub-calc {
        width: calc(100% / 2);
        margin: 0;
    }

    .sps-sub {
        width: calc(100% / 2);
        margin: 10px;
    }

    .strategicplanningcontainer {
        display: flex;
    }

    .firstimg {
        margin-bottom: 40px;
    }

    #sps-sub-inside {
        max-height: 620px;
    }

    .bs-sub {
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    .ds-sub-img {
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 50%;
    }   

}

